@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia&effect=fire");
@import url("https://fonts.googleapis.com/css?family=Roboto");

@media (min-width: 300px) and (max-width: 320px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
  }

  .first-container {
    margin-top: 0;
  }

  .sec-1 {
    width: 100vw;
    height: 15vh;
  }
  #hamburger_icon {
    display: block;
  }

  #first-nav {
    margin: 0;
  }

  #first-nav > li {
    margin-top: 7px;
  }

  /*________________ <section> Number: 02, 03, 04 css starts from here onwards___________________ */
  #login_2_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 55vh;
    position: relative;
    padding-top: 0;
    margin: 3vh auto;
  }

  #cross_sign_2 {
    position: absolute;
    margin-left: 78vw;
    margin-top: -2vh;
  }

  .google{
    width: 88vw;
    height: 12vh;
    margin-top: 8vh;
    margin-left: 3%;
  }

  .google > input{
    font-size: 16px;
  }

  .sec-3,
  #sec-4 {
    display: none;
  }

  #sec2_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    display: none;
  }

  .sec2_part1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 2vh 0;
  }

  #sec2_part1_p {
    font-size: 18px;
    margin: 1vh 3vw;
    font-family: lato;
  }

  #selection {
    width: 80vw;
    height: 8vh;
  }

  .sec2_part2 {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2vh 2vw;
  }
  
  .sec2_part2 > input {
    width: 70vw;
    height: 8vh;
    margin-left: 0;
    font-size: 13px;
    text-indent: 3px;
    border-radius: 5px;
  }
  
  .sec2_part2 > i {
    height: 8vh;
    width: 13vw;
    margin: 0;
    font-size: 18px;
    border: 1px solid #002f34;
    border-radius: 5px;
  }

  .sec2_part3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    height: auto;
  }

  #login_btn {
    width: 40vw;
    height: 8vh;
    font-size: 14px;
    margin: 0;
  }

  #login_btn:hover{
    font-size: 16px;
  }
  
  .sec2_part4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }

  .sec2_part4 > button {
    width: 30vw;
    height: 8vh;
    background-color: white;
    border-radius: 40px;
    padding: 6px;
    cursor: pointer;
    margin: 1.5vh 0;
  }

  /*________________ <section> Number: 05 css starts from here onwards___________________ */
  .sec-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .sec-5-h2 {
    font-size: 18px;
    margin: 3vh 3vw;
  }

  .sec-5-h2 > h2{
    color: brown;
  }

  #para-heart-box1 > img {
    width: 10vw;
    height: 5vh;
    margin-top: 5px;
  }

  #para-heart-box1 > p {
    font-size: 16px;
    line-height: 21px;
    padding: 5px;
  }

  #para-heart-box2 p {
    font-size: 16px;
    margin-right: 60px;
    margin-bottom: 10px;
  }
  #para-heart-box3 p {
    font-size: 16px;
    margin-right: 50px;
    margin-bottom: 35px;
  }

  #para-heart-box4 p {
    font-size: 16px;
    margin-right: 40px;
    margin-bottom: 10px;
  }
  #para-heart-box5 p {
    font-size: 16px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  #para-heart-box6 p {
    font-size: 16px;
    margin-right: 60px;
    margin-bottom: 10px;
  }

  .sec5-box {
    width: 80vw;
    height: 60vh;
  }

  .sec5-box1-img,
  .sec5-box2-img,
  .sec5-box3-img {
    width: 80vw;
    height: 30vh;
  }
  .sec5-box-part2 {
    width: 80vw;
    height: 25vh;
    border: 1px solid grey;
  }

 
  /* ________________Ye ads wali div ki css hai, jismai product ki Ad sa related css hai______________________ */
  #ads_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95vw;
    height: 70vh;
    margin: 5px auto;
    border: none;
  }
  .ads_styling_main_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80vw;
    height: auto;
  }

  .ads_styling_main_div > img {
    width: 80vw;
    height: 30vh;
  }

  #heart_img {
    width: 7vw;
    height: 5vh;
  }

  .ads_styling_inner_div {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    border: 1px solid grey;
  }

  .ads_styling_inner_price_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 78vw;
    height: auto;
    margin: 10px 0;
  }

  .ads_styling_inner_price_div > h2 {
    font-size: 16px;
    line-height: 21px;
    padding: 5px;
  }
  .ads_styling_inner_div > h5 {
    font-size: 15px;
  }

  /* ................... Yahan sa product ka Ad ka form wali css shru ho rhi hai.................. */

  #prod_btn,
  #show_btn {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    width: 70vw;
    height: 10vh;
  }
  #prod_btn:hover {
    font-size: 20px;
    width: 80vw;
    height: 12vh;
    background-color: darkblue;
    color: white;
    border-color: none;
  }

  #show_btn:hover {
    width: 80vw;
    font-size: 20px;
    height: 12vh;
  }

  #Ad_details {
    width: 90vw;
    height: 50vh;
    background-color: #f8faf9;
    display: block;
    margin: 5vh auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #Ad_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  #Ad_form > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: auto;
    margin: 3vh 0;
  }

  #Ad_form > div > label {
    font-size: 15px;
  }

  #Ad_form > div > input {
    width: 80vw;
    height: 8vh;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
  }

  #form_cross_icon {
    width: 20vw;
    height: 10vh;
    margin-left: 70vw;
  }

  #description {
    width: 90vw;
    height: 16vh;
    margin-top: 10px;
    font-size: 14px;
    padding: 0;
  }

  /* ................yahan sa Boxes yani footer sa uppar wali images ki css............ */
  .Boxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50vh;
    width: 100vw;
    height: 80vh;
  }

  #Box1 {
    width: 320px;
    height: auto;
  }

  #Box1 > img {
    width: inherit;
    height: auto;
  }

  #Box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  #Box2 > h1 {
    font-size: 18px;
  }

  #Box2 > p {
    font-size: 14px;
  }

  .line {
    display: none;
  }

  #Box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8vh;
    margin-left: 1vw;
    margin-right: 0;
  }

  .images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 5vh;
    margin-top: 1vh;
  }
  .images > img {
    overflow-x: hidden;
  }

  /* _______________________Ye last footer section ki css hai__________________________________________________ */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
  }

  .part > h3 {
    margin-block: 6px;
    color: black;
  }

  .part > h3:hover {
    color: blue;
    text-decoration-color: lightgrey;
  }

  .part > ul > li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: grey;
    font-size: 16px;
    list-style: none;
    padding: 5px;
  }

  .part > ul > li:hover {
    font-size: 18px;
    color: darkgray;
    cursor: pointer;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }

  .fa-brands {
    padding-right: 8px;
    cursor: pointer;
  }

  .fa-square-heart {
    font-size: 20px;
  }
}
